*{padding:0;margin:0;list-style:none;text-decoration: none;}
.header{width:100%;height:700px;
    background:url(../imags/2.jpg) no-repeat ;position: relative;z-index: 5;overflow:hidden;}
 body{background: #4eb4b9;}
 
.header_boss_li1{position: absolute;top:0;left:0;color: #fff;width: 50%;height:100%;background: rgba(0,0,0,0.9);z-index: 99;overflow: hidden;-webkit-transition:1s all ease;}
.header_boss_li2{position: absolute;top:0;right:0;color: #fff;width: 50%;height:100%;background: rgba(0,0,0,0.9);z-index: 99;-webkit-transition:1s all ease;overflow: hidden;}
.header_boss_li1 span{margin-left: 414px;margin-top: 200px;display: block;font-family: 'Microsoft Yahei';font-size: 50px;}
.header_boss_li2 span{margin-top: 200px;display: block;font-family: 'Microsoft Yahei';font-size: 50px;margin-top: 200px;}
.header_boss_li1 p{width:80px;height:80px;position: absolute;right:-40px;top:400px;border-radius:50%; overflow: hidden;-webkit-transform:perspective(800px) rotate(0deg);-webkit-transform-style:preserve-3d;z-index: 98;line-height: 80px;font-size: 40px;text-indent: 20px;background:-webkit-radial-gradient(left center,#df8e52,#d3f00c)}
.header_boss_li2 p{width:80px;height:80px;background: red;position: absolute;left:-40px;top:400px;border-radius:50%;overflow: hidden;line-height: 80px;font-size: 40px;-webkit-transform:perspective(800px) rotate(0deg);-webkit-transform-style:preserve-3d;text-indent: 40px;background:-webkit-radial-gradient(left center,#df8e52,#d3f00c)}



.header span{position: absolute;background: url(../imags/1.jpg) no-repeat;-webkit-transform: perspective(800px) translate(0,0) rotateY(0deg) rotateX(0deg);-moz-transform: perspective(800px) translate(0,0) rotateY(0deg) rotateX(0deg);}
h3{background: url(../imags/header.png) no-repeat 20px center #fff;height: 80px;width:50px;position: absolute;top:0;left:0;}
.header_title{width: 100%;
    height: 80px;position: fixed;top:0px;left: 0;border-bottom:3px solid #eee540;background: #000; z-index: 6;}
.header_title ul{overflow: hidden;margin-left: 600px;position: relative;}

.header_title li{float: left;width:18%;height:100px;text-align: center;line-height: 80px; z-index: 2;position: relative;cursor: pointer;}

.header_title li a{color: #FFF;font-size: 25px;
   }
.header_title  p{width: 18%;height:80px;position: absolute;left:0px;top:0;background: #b1570c; z-index: 1;border-radius: 10px;}
.nav1{width:100%;height:700px; background:url("../imags/1.1.jpg") no-repeat;}
.nav2{width:100%;height:500px; background:url("../imags/1.2.jpg") no-repeat;background-size:100%;position: absolute;left: 0;top:0; -webkit-transform:translateZ(10px);}
.nav3{width:100%;height:620px; background:url("../imags/1.3.jpg") no-repeat;padding-top: 80px;}
.nav4{width:100%;height:200px; background:#000;}
.nav1 p{font-size:20px;margin-top: 200px;}
.nav1 ol{position: absolute;margin-top: 200px;width:680px;height:500px;left: 0;top:0;}
 .nav1 ol li{width:680px;height:80px;margin-top: 10px;overflow:hidden;-webkit-transition:0.8s all ease;-webkit-transform:perspective(800px) rotateY(0) rotateX(0) rotateZ(0) ;-webkit-transform-style:preserve-3d;}
}
.nav1 ol li img{width: 40px;height:40px; -webkit-transform:perspective(800px) rotate(0deg);-webkit-transition:0.5s all ease; }
.nav1 ol li img{float: left;}
.nav1 ol  li i{font-size: 25px;color: #fff;line-height: 40px;float: left;width:580px;display: block;height: 40px;} 

#back_to_top{width:50px;height:50px;
    position: fixed;right:80px;bottom:150px;
    cursor: pointer;display: none;z-index: 30;}
h3{background: #000;width:100px;height:100%;}
h3 img {width:100%;height:100%;}
.music_switch{position: fixed;bottom: 50px;left:50px;width:70px;height:60px;background: url(../imags/music.png) no-repeat 0 0;z-index: 30;}
.music_switch img {width: 100%;height:100%;}
.nav1{position: relative;}
 .nav1_a{width: 120px;height:50px;position: relative;left:50px;top:100px;border-radius: 10px;cursor: pointer;background: -webkit-linear-gradient(yellowgreen,chartreuse);border: none;
    color: #fff;font-size: 15px;font-family: "Microsoft Yahei";box-shadow: 0px 8px 0 #000;text-align: center;line-height: 50px;	font-weight:bold;
    -webkit-transition: 0.3s all ease;display: block; }
.header_boss_li1 i{background: url(../imags/10.png) no-repeat;width:650px;height:110px;background-size:100%;display: block; }
.header_boss_li2 em{background: url(../imags/10.png) no-repeat;width:650px;height:110px;background-size:100%;display: block; }

 .nav1_a:hover{box-shadow:inset 0 0 5px green,0px 8px 0 #000;background: #FFA012;}
 .nav1_a:active{box-shadow: 0 0px 2px green,0px 3px 0 #000;top: 105px;}
.nav1 ul li{float: left;width:150px;height:150px;margin: 10px;cursor: pointer;position: relative;overflow: hidden;}
.nav1 ul{
    height:500px;width:650px;margin-left: 650px;overflow: hidden;margin-top: 50px;}
.nav1 ul li .site_a1{width: 100%;height:100%;background: url("../imags/360.jpg") no-repeat;background-size:100%;display: block; }
.nav1 ul li .site_a2{width: 100%;height:100%;background: url("../imags/aiqiyi.jpg") no-repeat;background-size:100%;display: block; }
.nav1 ul li .site_a3{width: 100%;height:100%;background: url("../imags/game.jpg") no-repeat;background-size:100%;display: block; }
.nav1 ul li .site_a4{width: 100%;height:100%;background: url("../imags/jd.jpg") no-repeat;background-size:100%;display: block; }
.nav1 ul li .site_a5{width: 100%;height:100%;background: url("../imags/mls.png") no-repeat;background-size:100%;display: block; }
.nav1 ul li .site_a6{width: 100%;height:100%;background: url("../imags/mi.jpg") no-repeat;background-size:100%;display: block; }
.nav1 ul li .site_a7{width: 100%;height:100%;background: url("../imags/oppo.jpg") no-repeat;background-size:100%;display: block; }
.nav1 ul li .site_a8{width: 100%;height:100%;background: url("../imags/wy.jpg") no-repeat;background-size:100%;display: block; }
.nav1 ul li .site_a9{width: 100%;height:100%;background: url("../imags/flower.jpg") no-repeat;background-size:100%;display: block; }

.nav1 ul li span{position: absolute;width:100%;height:100%;background: rgba(60,43,59,1);left:-150px;top:0;}
.nav1 ul li span a{background: rgba(0,100,255,0.6);position: absolute;width:100%;height:100%;text-align: center;line-height: 150px;color: #fff;font-size: 25px;font-family: 'Microsoft Yahei'}

.nav2 ul{width:133px;height:200px;margin :0 auto;margin-left: 600px;-webkit-transform-style:preserve-3d;-webkit-transform:perspective(800px) rotateX(0deg) rotateY(0deg);position: relative;}
.nav2 ul li{position: absolute;top:0;left: 0;width: 100%;height:100%;border-right: 20px;box-shadow: 0 0 20px #5e4d5d;overflow:hidden;-webkit-transform: rotateY(0deg)  translateZ(0px);border-radius:20px;text-align: center;overflow: hidden; cursor: pointer;}
.nav2 ul li a{width: 100%;height:100%;display: block;background: url(../img2/2.jpg) no-repeat;display: block;color: #000;font-size: 30px;line-height: 200px;text-decoration: none;text-align: center;background-size:100%;} 
.nav2{padding-top: 200px;overflow: hidden;}
.nav2 ul li .nav2_a1{background: url(../img2/1.jpg) no-repeat;}
.nav2 ul li .nav2_a2{background: url(../img2/2.jpg) no-repeat;}
.nav2 ul li .nav2_a3{background: url(../img2/3.jpg) no-repeat;}
.nav2 ul li .nav2_a4{background: url(../img2/4.jpg) no-repeat;}
.nav2 ul li .nav2_a5{background: url(../img2/5.jpg) no-repeat;}
.nav2 ul li .nav2_a6{background: url(../img2/6.jpg) no-repeat;}
.nav2 ul li .nav2_a7{background: url(../img2/7.jpg) no-repeat;}
.nav2 ul li .nav2_a8{background: url(../img2/8.jpg) no-repeat;}
.nav2 ul li .nav2_a9{background: url(../img2/9.jpg) no-repeat;}
.nav2 ul li .nav2_a10{background: url(../img2/10.jpg) no-repeat;}
.nav2 ul li .nav2_a11{background: url(../img2/11.jpg) no-repeat;}
.nav3 ul li{float: left;-webkit-transform-style:preserve-3d;-webkit-transform:perspective(800px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);-webkit-transition: 0.8s all ease;} 
.nav3{position: relative;}
.nav3 {position: absolute;position: relative;overflow: hidden;}

.nav3 ul{margin-top: 80px; width:100%; height:100%;}
.nav3 ul .nav3_li1{background: #1ca1cb;width:200px;border-radius:10px;position: absolute;left: 0;top:80px;}
.nav3 ul .nav3_li1 p{width:180px;height:230px;background: url(../imags/pai_1.png) no-repeat;background-size: 100%;border:10px solid #db708e;border-radius:10px;text-align: center;font-size: 20px;font-family: 'Microsoft Yahei';line-height: 410px; }
.nav3 ul .nav3_li2{background: #4ab446;width:200px;border-radius:10px;position: absolute;left: 0;top:80px;}
.nav3 ul .nav3_li2 p{width:180px;height:230px;background: url(../imags/pai_2.png) no-repeat;background-size: 100%;border:10px solid #db6e20;border-radius:10px;text-align: center;font-size: 20px;font-family: 'Microsoft Yahei';line-height: 410px; }
.nav3 ul .nav3_li3{background: #b275b8;width:200px;border-radius:10px;position: absolute;left: 0;top:80px;}
.nav3 ul .nav3_li3 p{width:180px;height:230px;background: url(../imags/pai_3.png) no-repeat;background-size: 100%;border:10px solid #dcc814;border-radius:10px;text-align: center;font-size: 20px;font-family: 'Microsoft Yahei';line-height: 410px; }
.nav3 ul .nav3_li4{background: #b34b92;width:200px;border-radius:10px;position: absolute;left: 0;top:80px;}
.nav3 ul .nav3_li4 p{width:180px;height:230px;background: url(../imags/pai_4.png) no-repeat 0 40%;background-size: 100%;border:10px solid #00a15a;border-radius:10px;text-align: center;font-size: 20px;font-family: 'Microsoft Yahei';line-height: 410px;}
.nav3 ul .nav3_li5{background: #dec773;width:200px;border-radius:10px;position: absolute;left: 0;top:80px;}
.nav3 ul .nav3_li5 p{width:180px;height:230px;background: url(../imags/pai_5.png) no-repeat center 20%;background-size: 90%;border:10px solid #4a9dcf;border-radius:10px;text-align: center;font-size: 20px;font-family: 'Microsoft Yahei';line-height: 410px; }
.nav3 ul .nav3_li6{background: #189977;width:200px;border-radius:10px;position: absolute;left: 0;top:80px;}
.nav3 ul .nav3_li6 p{width:180px;height:230px;background: url(../imags/pai_6.png) no-repeat center 20%;background-size: 100%;border:10px solid #d64254;border-radius:10px;text-align: center;font-size: 20px;font-family: 'Microsoft Yahei';line-height: 410px; }
.nav3 ul .nav3_li7{background: #df8e52;width:200px;border-radius:10px;position: absolute;left: 0;top:80px;}
.nav3 ul .nav3_li7 p{width:180px;height:230px;background: url(../imags/pai_7.png) no-repeat center 20%;background-size: 100%;border:10px solid #b798d1;border-radius:10px;text-align: center;font-size: 20px;font-family: 'Microsoft Yahei';line-height: 410px; }
.nav3 ul .nav3_li8{background: #156a1d;width:200px;border-radius:10px;position: absolute;left: 0;top:80px;}
.nav3 ul .nav3_li8 p{width:180px;height:230px;background: url(../imags/pai_8.png) no-repeat center 20%;background-size: 100%;border:10px solid #f3b7c2;border-radius:10px;text-align: center;font-size: 20px;font-family: 'Microsoft Yahei';line-height: 410px; }
.nav3 .nav3_p{width:60px;height:60px;background: red;border-radius: 10%;text-align: center;line-height: 60px;color: #fff;font-size: 18px;cursor: pointer;margin-left: 20px;margin-top: 20px;}
.nav3 i{width:60px;height:60px;background: green;border-radius: 10%;text-align: center;line-height: 60px;color: #fff;font-size: 18px;cursor: pointer;margin-left: 20px;margin-top: 20px;display: block;}
.nav3 p{cursor: pointer;}
.nav3 em{width:60px;height:60px;background: green;border-radius: 10%;text-align: center;line-height: 30px;color: #FFF;font-size: 16px;cursor: pointer;display: block;margin-left: 20px;margin-top: 20px;}
.nav2 span{border: 4px solid orange;position: absolute;top:420px;left: 80px;width:60px;height:60px;background: green;border-radius: 10%;text-align: center;line-height: 60px;color: #ad09c0;font-size: 20px;cursor: pointer;display: block;font-weight:bold; }
.nav2_boss{width:100%;height:700px; background:url("../imags/1.2.jpg") no-repeat;background-size:100%;position: relative;-webkit-transition:0.5s all ease;-webkit-transform-style:preserve-3d;-webkit-transform:perspective(800px) rotateY(0deg);}
.nav2_back{width:100%;height:700px; background:url("../imags/6.png") no-repeat;background-size:100%;position: absolute;-webkit-transition:0.5s all ease;-webkit-transform-style:preserve-3d;-webkit-transform:perspective(800px) rotateY(0deg);left: 0;top:0;-webkit-transform:translateZ(-10px) scale(-1,1);}
.nav2_back{position: relative;}
.nav2_back em{width:60px;height:60px;background: green;border-radius: 10%;text-align: center;line-height: 60px;color: #ad09c0;font-size: 18px;cursor: pointer;display: block;border: 4px solid orange;position: absolute;top:520px;right: 280px;}
#nav2_back_ol {position: absolute;margin-top: 100px;width:680px;height:500px;left: 0;top:0;}
.nav2_back ol li{width:780px;height:80px;margin-top: 10px;overflow:hidden;}
}
.nav2_back ol li img{width: 60px;height:100px;-webkit-transform-style: preserve-3d;}

.nav2_back ol li img{float: left;}
.nav2_back ol  li i{font-size: 25px;color: #fff;line-height: 40px;float: left;width:580px;display: block;height: 40px;} 
.nav4{color: #fff;overflow: hidden;}
.nav4 h2{
				width:100%;
				height:100px;
				
				
				font-size: 25px;		
				text-align: center;
				font-family:'microsoft YaHei';
				line-height: 100px;
				font-weight: bold;
			}
			
			.nav4 ul{
				width:100%;
				margin:0 auto;
			}
			.nav4 ul li{
				width:240px;
				height:100px;
				padding:0 20px;
				float:left;
				text-align:left;
				border-right:2px solid #FFA500;
				margin-left: 400px;
				font-size: 18px;
			}
			.nav4 ul li p{line-height: 20px;display: block;font-size: 18px;}
			.nav4 ul .weixin_last p{
				font-size:14px;
				display: block;
				margin-left:0px;
				float: left;
			}
			.nav4 ul .weixin_last{margin-left: 0;}
		.nav4 .weixin_last{overflow: hidden;}
			.nav4 .weixin_last img{
				float: left;
				width:150px;
				height:130px;
				line-height:50px;
				border-radius: 20px;
				
				text-align:center;
				
			}
			
			
				
				
