	*{ padding:0; margin:0;  font-size:12px; font-family:'Mrcrosoft Yahei';}
	body,ul,ol,dl{padding:0; margin:0;}
	h1,h2,h3,h4,h5,h6,b,strong{ font-weight:normal;}
	a{ text-decoration:none; color:#000;}
	li{ list-style:none;}
	i,em{font-style:normal;}
	.fl{ float:left;}
	.fr{ float:right;}
	.clearfix:after:{ display:block; content:'';clear:both;}
	.clearfix{zoom:1;}
	img{display:block;}
	
